img{
    width: 400px;
    height: 500px;    
}

.column{
    float: left;
    width: 33.33%;
}

.row:after{
    content: "";
    clear: both;
    display: table;
    
}

i{
    color: red;
    text-shadow: 0 0 5px black;
    
    
}

body{
    background-color: lightgrey;
}